extends layout

block content
  h1= title
  p Welcome to #{title}
  ul.pages
    li.chat.page
      div.chat
        ul#messages
        form(action="")
          input#m(autocomplete="off")
          button Send
    li.login.page
      div.form
        h3.title What's your nickname?
        input.username(type="text", maxlength="120")
        form.nickname(action="")
          input#m(autocomplete="off")
          button OK
  script(src='https://cdn.socket.io/socket.io-1.1.0.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/javascripts/socket.js')